*.out
*~
*.avi
*.tmp
*.log
*.eps
*.swp
*plt
*pdf
divx2pass.log
avg/
img/
backup/
whoo
debuggery/
outs/
figures/
dynamix
fit.log
weights.dat
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
